#firstDiv{
	margin-top: 10px;
	font-size: 32px;
	color: #ff0000;
}

.name{
	margin-right: 5px;
	font-size: 16px;
	color: #333;
}

.screenName{
	font-size: 12px;
	color: #bbb;
}

#tweetBox li{
	width: 100%;
	min-height: 70px;
	padding: 5px 5px 10px;
	border-bottom: 1px solid gray;
	word-wrap: break-word;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tweetText{
	line-height: 1.4;
	font-size: 12px;
	color: #333;
}

.tweet{
	margin-left: 58px;
}

.tweetIcon{
	float: left;
	margin-top: 3px;
	margin-left: -58px;
}

header h1{
	padding-left: 10px;
}

section[role="region"] > .content{
	padding: 0 5px !important;
}

#newTweetText{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #bbb;
	background: #FFE;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.fileArea{
	overflow: hidden;
}

.chooseFile{
	display: inline-block;
	float: right;
	overflow: hidden;
	position: relative;
	padding: 5em;
	border: 1px solid #999;
	background-color: #eee;
}

.chooseFile input[type="file"]{
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	font-size: 100px;
	cursor: pointer;
}

.fileName{
	float: left;
	width: 70%;
	height: 28px;
	padding: 5px;
	border: 1px solid #bbb;
	text-overflow: ellopsis;
	-moz-box-sizing: border-box;
}