#mentions{
    height: 100%;
}

#firstDiv{
    margin-top: 10px;
    font-size: 32px;
    color: #ff0000;
}

.name{
    margin-right: 5px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 1rem;
}

.screenName{
    font-size: 12px;
    color: #bbb;
}

.toolbaricons{
    background-repeat: no-repeat;
    margin: 0px auto;
    border-radius: unset;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 3rem;
    text-align: left;
    line-height: 0;
}

#tweetBox li, #searchTweetBox li{
    width: 100%;
    min-height: 70px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid gray;
    word-wrap: break-word;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#tweetBox li:last-child{
    width: 100%;
    min-height: 70px;
    padding: 5px 5px 10px;
    padding-bottom: 3rem;
    border-bottom: 1px solid gray;
    word-wrap: break-word;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#mentionBox li{
    width: 100%;
    min-height: 70px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid gray;
    word-wrap: break-word;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#mentionBox li:last-child{
    width: 100%;
    min-height: 70px;
    padding: 5px 5px 10px;
    padding-bottom: 3rem;
    border-bottom: 1px solid gray;
    word-wrap: break-word;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tweetText{
    line-height: 1.4;
    font-size: 12px;
    color: #333;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 2px;
    width: 90%;

}

.retweetUser{
    font-size: 10px;
    margin-top: 7px;
    color: #bbb;
}

.tweet{
    margin-left: 58px;
}

.tweetIcon{
    float: left;
    margin-top: 3px;
    margin-left: -58px;
    height: 46px;

}

.menu-button{
    float: right;
    height: 1.5rem;
}

.tweetImage{
    width: 90%;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

#tweetButton{
    width: 2.5rem;
}

img.svgButton{
    padding: 0.2rem;
    background-repeat: no-repeat;
}

.tltweetmenuclose{
    background:  none repeat scroll 0% 0% rgba(255, 255, 255, 1);
    margin: 0 auto;
    border-radius: unset;
    line-height: 0;
    text-align: center;
    padding-left: 0.5rem;
    padding-top: 0;
    position: absolute;
    bottom: 0;
    height: 3rem;
}

.tltweetmenucloseicon{
    height: 3rem;
}

.tltweetmenu{
    background:  none repeat scroll 0% 0% rgba(255, 255, 255, 1);
    margin: 0 auto;
    border-radius: unset;
    padding-left: 0.5rem;
    height: 3rem;
    text-align: left;
    line-height: 0;
}

.tltweetmenuicons{
    margin-top: -1rem;
}

header h1{
    padding-left: 10px;
    color: #fdf6e3;
}

section[role="region"] > .content{
    padding: 0 5px !important;
}

#newTweetText{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 3px solid #000;
    background: #FFE;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fileName{
    float: left;
    width: 70%;
    height: 28px;
    padding: 8px;
    border: 1px solid #bbb;
    text-overflow: ellopsis;
    -moz-box-sizing: border-box;
}

.clearImage{
    float: right;
    width: 20%;
    height: 3rem;
    font-size: 100%;
    border-radius: 1;
    line-height: 0;
    margin: 0;
    margin-top: 0.2rem;
    padding: 0;
}

#clearImageicon{
    width: 2rem;
    margin-bottom: 0.2rem;
}

.postImageform{
    height: 3rem;
    width: 75%;
    margin-bottom: 0.2rem;
}

#addPostImagebutton{
    width: 100%;
    height: 3rem;
}

#addPostImagebuttonimg{
    width: 3rem;
    height: 3rem;
}

.hide{
    display: none;
}

.tlmenu{
    float: right;
}

#userbackButton{
    position: fixed;
}

#userdata{
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(100% + 10px);
    margin-left: -5px;
}

#userimage{
    width: 5rem;
    margin-top: 1rem;
    border: 0.2rem solid #fff;
    border-radius: 0.2rem;
}

#username{
    font-weight: bold;
}

#userscreenname{
    font-weight: bold;
    padding-bottom: 0.5rem;
}

#userlocation{
    padding-top: 1rem;
}

#userdescription{
    margin: 5px;
}

#userstatuslist{
    margin: 10px;
}

#tweetstatus, #following, #follower{
    font-size: 1rem;
    float: left;
    width: 33%;
    border-right: 1px solid;
    line-height: 1rem;
}

#follower{
    border: none;
}

#userfollow{
    width: 90%;
    height: 3rem;
    line-height: 2rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

#userdataback{
    background-color: rgba(255,255,255,0.45);
}

#count{
    font-size: 1.2rem;
    opacity: 0.7;
}

