#settingBox li{
    width: 100%;
    min-height: 2rem;
    line-height: 0;
    padding: 5px 5px 5px;
    border-bottom: 1px solid gray;
    word-wrap: break-word;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


li > p {
    margin: 0;
    font-size: 1.5rem;
}

li > a {
    font-size: 1.5rem;
    line-height: 2.5rem;
}